@model AngularJsMvcGrid.Models.GenSuggestReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GenSuggestReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIPDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIPDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PausedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PausedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotAnIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotAnIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeSetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeSetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedByID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedByID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
